/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2022 @mzyy94
 */

/* Color theme */

html {
  --text-color: black;
  --bg-color: rgb(243, 244, 246);
  --highlight-color: rgb(255, 255, 255);
  --active-color: rgb(37, 99, 235);
  --border-color: rgb(229, 231, 235);
  --inactive-color: rgb(159, 162, 164);
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color: white;
    --bg-color: rgb(55, 56, 57);
    --highlight-color: rgb(62, 62, 62);
    --active-color: rgb(0, 253, 190);
    --border-color: rgb(66, 67, 68);
    --inactive-color: rgb(101, 101, 101);
  }
}

/* Clear style by user agent */

* {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro",
    system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  padding: 0;
  margin: 0;
  border-color: var(--border-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  background-color: transparent;
  background-image: none;
  font-size: 100%;
  color: var(--active-color);
}

/* Set body style */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

body>section {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  background-color: var(--bg-color);
}

@media (min-width: 1920px) or (min-height: 1080px) {
  body>section {
    aspect-ratio: 16/9;
    outline: solid 10px darkgray;
    border-radius: 2px;
    box-shadow: 0px 0px 20px black;
  }
}

/* Set header style */

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: var(--text-color);
  border-bottom-width: 1px;
  margin-left: 2rem;
  margin-right: 2rem;
}

header h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  padding-left: 2rem;
  margin: 0;
}

/* Set main style */

main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Set list style */

ul {
  width: 33%;
  height: auto;
  padding: 1rem;
  padding-left: 2rem;
  background: linear-gradient(var(--bg-color),
      var(--highlight-color),
      var(--bg-color));
}

ul>li:not(:last-child) {
  display: flex;
  height: 6rem;
  cursor: pointer;
  border-left-width: 4px;
  padding-left: 1rem;
  border-color: transparent;
}

ul>li:not(:last-child).active {
  border-color: var(--active-color);
}

ul>li:not(:last-child)>div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
}

ul>li:not(:last-child)>div:nth-child(2) {
  width: 67%;
}

ul>li:not(:last-child)>div>object:nth-child(1) {
  width: 2rem;
  height: 2rem;
}

ul>li:not(:last-child)>div>object:nth-child(2) {
  height: 4rem;
}

ul>li:not(:last-child)>div>span {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--inactive-color);
}

ul>li:not(:last-child)>div>span.active {
  color: var(--active-color);
}

ul>li:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  cursor: pointer;
}

ul>li:last-child>span {
  font-size: 1.75rem;
}

ul>li:last-child>span:before {
  content: "+";
  display: inline;
  font-size: 4rem;
  line-height: 2.5rem;
  vertical-align: text-bottom;
  padding-right: 1rem;
}

/* Set form style */

form {
  width: 66.666667%;
  overflow: auto;
  padding: 1rem 3rem;
}

figure {
  display: flex;
  justify-content: center;
  height: 16rem;
  border-bottom-width: 1px;
}

figure>object {
  height: 16rem;
}

label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  border-bottom-width: 1px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--inactive-color);
}

form .active {
  color: var(--text-color);
  cursor: pointer;
}

input {
  visibility: hidden;
}

form button {
  width: 100%;
  height: 4rem;
  cursor: default;
  padding-left: 1rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-top: 2rem;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--inactive-color);
}

/* Set aside style */

aside {
  margin-top: 1rem;
}

aside span {
  display: block;
  width: 100%;
  text-align: right;
  color: var(--inactive-color);
}

/* Set footer style */

footer {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-width: 1px;
  border-color: var(--text-color);
}

footer span:nth-child(1) {
  flex-grow: 1;
}

footer span:nth-child(2) {
  padding-left: 2rem;
}

/* Set dialog style */

dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  color: var(--text-color);
}

dialog::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(17, 24, 39, 1);
  opacity: 0.5;
}

dialog>div {
  width: 50%;
  max-width: 48rem;
  z-index: 50;
  overflow-y: auto;
  border-radius: 0.25rem;
  background-color: var(--bg-color);
}

dialog>div>div:nth-child(1) {
  padding: 3rem;
  font-size: 1.75rem;
  line-height: 2rem;
}

dialog>div>div:nth-child(2) {
  display: flex;
  height: 4rem;
  border-top-width: 2px;
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--active-color);
}

dialog button {
  width: 100%;
  cursor: pointer;
}

dialog button:hover {
  background-color: var(--highlight-color);
}

dialog>section {
  width: 90%;
  height: 90%;
  z-index: 50;
  border-radius: 0.25rem;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

dialog section header {
  text-align: center;
  border-bottom: none;
}

dialog section header h2 {
  font-size: 2rem;
}

dialog section header p {
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--inactive-color);
}

dialog section section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 20%));
  grid-gap: 16px;
  justify-content: center;
  width: 100%;
  padding: 40px;
  overflow-y: scroll;
}

dialog section section a {
  display: flex;
  margin: 20px;
  aspect-ratio: 1/1;
  background-color: var(--highlight-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

dialog section section object {
  pointer-events: none;
  max-height: 80%;
}

dialog section footer {
  border-top: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}

dialog section footer button {
  width: 40%;
  font-size: 2rem;
  border: 3px solid var(--text-color);
  border-radius: 4px;
  padding: 1rem;
  color: var(--text-color);
}

[x-cloak] {
  display: none !important;
}
